header{
    background-color: #007e7a;
    font-family: 'Vale Sans','arial', 'Times New Roman', sans-serif;
    padding: 20px
}
.body h1, h2{
    color: #007e7a

} .lu li{
    text-decoration: none;
    color: #007e7a
}
.li a{
    text-decoration: none;
    color: #ecbf11
} .header img {
  padding: 0px;
  width: auto;
  height: 100px;
}
